<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <appSettings>
    <add key="SqlDbKey" value="kCvW9TdxFtyoP9dWGldyKysaLjlslkd0980Uls5d5b909sdfk9IksQles/ksjKJs;9s9lkf9d88f8JhHdLNHShUosF7OJsC==" />
    <add key="Value" value="gF8InXBJz9qt5X+0/5LZVLgI6zRlHH5J3NLeieO339Q=" />
    <add key="CompanyName" value="Kennedy Access" />
    <add key="Vendor" value="SapphireTech" />
    <add key="Franchise" value="KennedyAccessGrp" />
    <add key="CompanyLogo" value="images/companyLogo.gif" />
    <!-- H D P-->
    <add key="Setting" value="P" />
    <add key="Filter" value="P" />
    <!-- add key="EServer" value="maw5NyDhdfjkZiLl32NbV58vSPi9vyUHvcVPtR/3aSXa4LyxcuY9O4RM4=" /-->
    <!-- add key="EUserName" value="UFgq87sXc0LdVflKIJ+SUfZfCkS08j9Q6sLHjn/58R6E0591hfQzfIz3Rz7jtQPlsrLfCOS7wQGYtfyiGABxs" /-->
    <!-- add key="EPassword" value="Bnrs+rFHU5Ntf5vbu+m9VgY4UA36pZWj1ONgnBsJpAJfTEYi9I6gb8s5A=" /-->
    <!-- add key="EPort" value="mR94wtW6zc1HeIoKeLoYvIpkhTcyw==" /-->
    <add key="EServer" value="fnYxMIc3iRr6CdBjOJU8x9HsrAgQIL9Zfz2hZrxKnVmFuO75ejb49oA7E=" />
    <add key="EUserName" value="BLdIVszlObSocV8vhwVeYhPEHaWu+JKnjzts8FVoQcgorFKkvNA358ZszRi6FMOFSo1Ar5SZSXGU1Pd21lLbk" />
    <add key="EPassword" value="gJ+4XYedltlWyC4R+dl2l215uTX7muE89wQ94CsZTDJ0o0IBo7DxrOSmk=" />
    <add key="EPort" value="wpBdlZXhldI2axkRRfU8j5JQHOj7w==" />
    <add key="SMUser" value="swoQVIkt31GRuiBe7aHEn1itLgYu0MH5XaT0OgeFdlHAsZAQ4BlPQ7YDl4usPcfeOiwx/rAbZoI67cr7o2R8o" />
    <add key="SMPass" value="MQw3BGE7WnThdPL#AMK4XDrFpj9aLmqlwNiimQ8eXRPeViisFqfgEeugA=" />
    <add key="Key" value="fCauZ3v60MghA5H8HfyoAbpd1Nl9SJvoKU32JK26ruUh/ABDJFDF69Nic=" />
    <!-- local server 210 -->
    <add key="SqlConnectionString" value="3zEXdati3dTWTEbmNljvIa8VjFTHNtjxjzGWKJEpcmco9+7ZQ2UazhApVxqM4ZtMYTYJwsZqbu3kWoXtI0hYv2V2MfvlXBqdyJtCJaYwLzhJJ8ZnvCJ7ReHe+4OVsUpj" />
    <add key="ODBCConnection" value="RIvI/opLCecoFDNvbcneAonEiILu2jennYwsqJBogvvo+c6kOPhfcy3owaMrkPRKBabeAVbnNjunV1+ei2Adi4xyotLABmDcvUwc3QEevhrsCxEsIw4SItVa6Xmp1y3pXmohPf3iJ9erOAmeDTWF+KmoMGarUzqcA8+eOHbCLnuoqKbn950sdu7u3x7ljjYt8SYioXA===" />
    <add key="DBConnectionString" value="9se+eSPDF34jJlkjsD9Ijslkn5JnkjlapkdnlIDdks4kkjlSkj834ksdfjlsHSnnksYQksdlskKKDkHlhlsd8kksj3jKk38llKSkdmslyJtCJaYwLzhJKskdfjLKkskdkflKDjlskdjfJ7ReHe+4OVsUpj" />
    <add key="ODBCConnectionLocal" value="7XJIFqgEMzGoR2cxSlt9twHpp9viT5URkXYmP8oGB4W4eeG6aGXQ4RdZ2VdfYwik1qg9GzipzCe5Ng2jw4a2bzKomMMlBaOYh5VkytGoljJ66dx5WLK2vwagbe0jNMUep9SkBFKu1S4fD88knA+1TfG93iE5ls9RdM9hQMbd2f" />
    <add key="ServiceProtocol" value="khOlf986i0G4a018gfEjZmngntYy0Za30TH5XBW7FkGlPO8g9KnuxXpiiX/UaKZvIsHmlv4ufkd85gG4ovL0b" />
    <add key="ConnectKey" value="m/7kkMAogIp5DMumKAvc2Bcopw5izkPb5AJfEGvZTsXm1Jb0jqP1egL5s6J73w4x4Zaep3crLmMpc+Ym4mPbxG4nyWumIUNVkFx92o1k9TIgKsrD03JKGc2npCLkDQWf6fv9bQihbHm2lSV5wCJ1RAC5qlalfDumBk+nvkXcBU" />
    <add key="EncryptKey" value="Rstu3c9oYDdu7C5pPimn3AmzuGDqnwBtsbXioE2p+2N5G9bj6e45BSn25QNcasHiocFoado4iRW59Cr6CUknHsAjol1fM25j/uRuPj351bA7iRskah49kY55ku51tuv4p6zk3Z03sI10kY=" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="31150960" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors defaultRedirect="InternalError.aspx" mode="RemoteOnly">
      <error statusCode="500" redirect="InternalError.aspx" />
    </customErrors>
    <sessionState cookieName="auth" mode="InProc" timeout="120"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.46.0" newVersion="1.11.46.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>